.hero{
    background-image: url('/assets/Hero-background-image.png');
    margin-bottom: 100px;
    color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 800px;
    .hero-banner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 800px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
            opacity: 0.9;
            z-index: -11;
        }
        .hero-banner-text{
            text-align: center;
            text-transform: uppercase;
        }
        .hero-banner__title{
            font-weight: bold;
            font-family: $montserrat;
            h1{
                font-size: 80px;
                letter-spacing: 10%;
                margin-bottom: 20px;
            }
            .subtitle{
                font-size: 18px;
                line-height: 1.371em;
                letter-spacing: 30%;
                font-weight: 400;
            }
        }
       
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 240px;
            position: absolute;
            bottom: 50px;
        }
    }
}

.about-us{
    .about-us__title{
        @include main-title;       
        margin-bottom: 120px;
    }
    .flex-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 200px;
        height: 527px;
        .about-us__img{
            width: 630px;
            position: relative;
            margin-right: 70px;
            &:before{
                content: '';
                width: 90%;
                height: 100%;
                background:  #55B7FF;
                display: block;
                position: absolute;
                top:-50px;
                left: -30%;
                z-index: -2;
            }
        }

        .about-us__content{
            width: 470px;
            h2{
                @include h2;
                margin-bottom: 19px;
            }
            h4{
                @include h4;
            }
            p{
                color: $title-color;
                margin-bottom: 41px;
                font-family: $open-sans;
                line-height: 1.875em;
                font-size: 18px;
            }
            a{
                @include Btn;
            }

            .about-us__location{
                clear: both;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                top: 60px;
                p{
                    font-style: italic;
                    color: $btn-color;
                    font-weight: 400;
                    img{
                        margin-right: 10px;
                    }
                }

            }
        }
        

    }
    .flex-container:last-child{
        flex-direction: row-reverse;
        .about-us__content{
            margin-right: 64px;
        }
        .about-us__img{
            height: 470px;
            &::before{                    
              
            }
        }
       
    }
}


 

    

